.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 45px;
    width: 260px;
}

.site-footer__link {
    display: inline-block;
    vertical-align: top;
}

.site-footer__icon {
    display: block;
    height: 20px;
}

@media (min-width: 1200px) {
    .site-footer {
        left: 50%;
        margin-left: -600px;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .site-footer__link {
        padding: 0 7px;
    }
}

@media (max-width: 800px), (max-height: 470px) {
    .site-footer {
        position: static;
        margin-left: initial;
        padding: 30px;
        width: auto;
        text-align: center;
        gap: 8px;
    }
}