.site-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    width: 306px;
}

.site-header__title {
    color: #000;
    letter-spacing: -0.04em;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.2;
}

.site-header__description {
    margin-top: 5px;
    margin-bottom: 0;
    color: #a1a1a1;
    font-weight: 300;
    font-size: 14px;
}

.site-navigation {
    margin-top: 60px;
}

b.site-navigation__item {
    color: #000;
    font-weight: 500;
}

.site-navigation__item {
    display: block;
    padding: 4px 0;
    color: #7f7f7f;
    font-weight: 300;
    font-size: 16px;
}

@media (min-width: 1200px) {
    .site-header {
        left: 50%;
        margin-left: -600px;
    }
}

@media (max-width: 800px), (max-height: 470px) {
    .site-header {
        position: static;
        margin-left: initial;
        padding: 30px;
        width: auto;
        text-align: center;
    }

    .site-header br {
        display: none;
    }

    .site-navigation {
        margin-top: 15px;
    }

    .site-navigation__item {
        display: inline-block;
        padding: 4px;
        vertical-align: top;
    }
}